---
layout: default
title: Home
id: home
permalink: /
---

<article>
    <div id="home-container">
        <side style="font-size: 0.9em">
          <img src="{{ "/assets/cameron-portrait-small.jpg" | relative_url }}" alt="A photograph of Cameron in a colorful shirt.">
          <div class="side-box">
            <p><strong>Find me on...</strong></p>
            <ul>
              <li><a href="https://github.com/cboucher01"><i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label" style="padding-left: .5rem;">GitHub</span></a></li>
              <li><a href="https://www.linkedin.com/in/cameron-b-753745261" rel="nofollow noopener noreferrer" itemprop="sameAs"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i><span class="label" style="padding-left: .5rem;">LinkedIn</span></a></li>
            </ul>
          </div>
          <!--
          <div class="side-box">
            <p><strong>I'm currently listening to...</strong></p>
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/album/2XZiBGEBzo5PqSMjgGV6IS?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
          </div>
          -->
        </side>
        <content id="content">
          <h1 style="margin: 0 0 1rem;">Hi, I'm Cameron!</h1>
          <p>
            I work as an [[Educational and Scholarly Technology Assistant]] at [[Bryn Mawr College]], where I provide support for educational technology systems and services, [[Digital Scholarship projects]], and Makerspace equipment. I have over 2 years of experience in digital scholarship and web development. I graduated from Bryn Mawr College with an A.B. in Russian and History, and I have a background in communications, film studies, and video editing.
          </p>
          <p>
            If you're interested in my professional and academic career, take a look at my [[CV]].
          </p>
          <p>
            If you're looking for examples of my web development work, check out my [[portfolio]].
          </p>
          <p>
            I've also written notes about my other [[interests]] and [[hobbies]], so feel free to explore!
          </p>
          <!--
          <p style="padding: 1em 1em; background: #0a0a0a; border-radius: 4px;">
            This site is a work in progress.
          </p>

          <h2>Recently updated notes</h2>
          <ul>
            {% assign recent_notes = site.notes | sort: "last_modified_at_timestamp" | reverse %}
            {% for note in recent_notes limit: 5 %}
              <li>
                {{ note.last_modified_at | date: "%Y-%m-%d" }} — <a class="internal-link" href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a>
              </li>
            {% endfor %}
          </ul>
          -->
      </content>
    </div>
  </article>
  
  <hr>
  
  <p>Here are all the notes on this site, along with their links, visualized as a graph.</p>
  
  {% include notes_graph.html %}

  <style>
    .wrapper {
      max-width: 54em;
    }
  </style>